{% assign cart_total = cart.total_price %}
{% assign shipping_fee = settings.shipping_fee | times: 100 %}
{% assign cart_shipping_fee = settings.cart_shipping_fee | times: 100 %}
{% assign fee_float = settings.cart_shipping_fee | times: 1.0 %}
{% assign max_cost_percent = 100 | times: 1.0 %}
{% assign disable_delivery = true %}
{%- for item in cart.items -%}
    {% assign item_url = item.product.url | remove: '/products/' | replace: '&-', '' | replace: "'", "" | replace: "--", "-"%}
    {%- assign product = all_products[item_url] -%}
    {% if product.template_suffix == blank %}
        {% assign disable_delivery = false %}
    {% endif %}
{% endfor %}

<div id="mini-cart-wrapper" class="mini-cart-wrapper">
    <div id="cart-heading" class="cart-heading">
        <h4 class="cart_heading_title">
            {{ 'cart.shopping_bar' | t }}
        </h4>

        <p id="close-minicart" class="close-minicart">
            {% render 'icon-close', class: 'w-6 h-6' %}                
        </p>
    </div>

    <div class="mini-cart-content {% if cart.items == empty %}no-item{% endif %} {% unless disable_delivery %}{% if cart_total >= cart_shipping_fee %} free-shipping {% endif %}{% endunless %}">
        <div id="mincart-loading" class="hidden">
            <div class="load absolute ">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block; shape-rendering: auto;" width="50px" height="50px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                    <path d="M10 50A40 40 0 0 0 90 50A40 42 0 0 1 10 50" fill="#1d0e0b" stroke="none">
                    <animateTransform attributeName="transform" type="rotate" dur="1s" repeatCount="indefinite" keyTimes="0;1" values="0 50 51;360 50 51"></animateTransform>
                    </path>
                </svg>
            </div>
        </div>

        {% if cart.items == empty %}
            {% comment %}  Cart empty {% endcomment %}
            <div id="minicart-base" class="minicart-items cart-content text-centerpx-0">
                <div id="minicart-items" class="list-cart-container">
                    <div class='text-center'>
                        <p class="text-left">Your shopping cart is empty.<br>Click <a href="/collections/frontpage" class="link">here</a> to continue shopping.</p>
                    </div>
                </div>
                <div id="mini-list" class="hidden"></div>
            </div>
            <div id="minicart-actions" class="minicart-actions hidden"></div>
        {% else %}
            <div id="minicart-base" class="minicart-items" data-count="{{ cart.items.size }}">
                <!-- Check price get to free shipping -->
                {% assign cost = cart_shipping_fee | minus: cart_total %}
                {% assign cost_percent = cart_total | divided_by: fee_float %}

                {% if cost_percent >= max_cost_percent %}
                    {% assign cost_percent = max_cost_percent %}
                {% endif %}

                <div class="check-shipping">
                    <p class="check-shipping-text">
                        {% if cart_total >= cart_shipping_fee %}
                            {{ 'cart.desc_free_shipping' | t }}
                        {% else %}
                            {{ 'cart.spend' | t }} <span class=""> {{ cost | money }} </span> {{ 'cart.freeship' | t }}
                        {% endif %}
                    </p>

                    <div class="check-shipping-line">
                        <img 
                            src="{{ 'line_free_shipping.png' | asset_url }}"
                            width="{{ img_thumb.width }}"
                            height="{{ img_thumb.height }}"
                            loading="lazy"
                            style="width:{{ cost_percent }}%"
                        />

                        {% render 'icon_free_shipping', costPercent: cost_percent %}
                    </div>
                </div>
                <div id="minicart-items" class="list-cart-container">
                    <div class="list-items">
                        {%- for item in cart.items -%}
                        <div class="cart-item">
                            <div class="cart-thumbnail">
                                {% if item.image %}
                                    {% assign item_image = item | img_url: '200x200' %}
                                    <a href="{{ item.product.url }}" class="block">
                                        <img width='{{ item.image.width }}' height='{{ item.image.height }}' class="w-full h-full" src="{{ item_image }}" alt="{{ item.title }}" loading='lazy'>
                                    </a>
                                {% else %}
                                    <a href="{{ item.product.url }}" class="block">
                                        {{ 'product-2' | placeholder_svg_tag: 'w-full' }}
                                    </a>
                                {% endif %}
                            </div>

                            <div class="cart-details w-full">
                                <div class="cart__product-info h-full" data-cart-item-handle="{{ item.product.handle }}">
                                    <div class="cart_item-info relative h-full">
                                        <div class="cart__item-title">
                                            <div>
                                                <div class="cart__item-des">
                                                    <a href="{{ item.product.url }}" class="cart_product-title" data-cart-item-title>
                                                        {{ item.product.title | strip }}
                                                    </a>

                                                    <div class="cart__item-price">
                                                        <div class="">
                                                            <div class="product-form-qty">
                                                                <div class="cart__product-actions">
                                                                    <span class="cart__product-price block items-start">
                                                                        {% if item.variant.compare_at_price > item.price %}
                                                                            <span class="compare-price">{{ item.original_price | money }}</span>
                                                                            <span class="price-mini-cart">
                                                                                <span class="">{{ item.variant.compare_at_price | money }}</span>
                                                                            </span>
                                                                        {% else %}
                                                                            <span class="price-mini-cart">{{ item.original_price | money }}</span>
                                                                        {% endif %}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
    
                                                <div class="cart__item-variant">
                                                    {% unless item.product.has_only_default_variant %}
                                                        {% for option in item.product.options %}
                                                            <span class="cart-item--option-name cart-item--product-options">{{ option }}: {{ item.variant.options[forloop.index0] }}</span>
                                                            {% unless forloop.last %}
                                                                <span class="inline-block">/</span>
                                                            {% endunless %}
                                                        {% endfor %}
                                                    {% endunless %}
                                                </div>
                                            </div>

                                            <div class="flex items-center mincart__product-qty product-form-item" data-id="{{ item.id }}">
                                                <div class="flex items-center justify-between w-full">
                                                    <div class="button-change-qty-items" data-id="{{ item.id }}">
                                                        <span class="product-minus minus qty-button"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                            {% render 'icon-cart-minus', class: 'w-4 h-4' %}
                                                        </span>
                                        
                                                        <input type="number" id="Quantity-{{ section.id }}" name="updates[]"
                                                            value="{{ item.quantity }}" min="0" pattern="[0-9]*"
                                                            id="updates_{{ item.id }}" style="padding:0" data-id="{{ item.id }}"
                                                            class="product-form__input text-sm product-form__input--quantity block"
                                                            data-quantity-input>
                                        
                                                        <span class="product-plus plus qty-button"
                                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                            class="plus">
                                                            {% render 'icon-cart-plus', class: 'w-4 h-4' %}
                                                        </span>
                                                    </div>

                                                    <div id="Remove-{{ item.index | plus: 1 }}"
                                                        data-index="{{ item.index | plus: 1 }}" class="remove-item ">
                                                        <a href="#" class="delete link" data-cart-item="{{ item.index | plus: 1 }}" data-cart-remove
                                                            id="remove_{{ item.id }}" data-label="{{ item.title }}">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M3 6H5H21" stroke="#1B1B1B" stroke-linecap="round" stroke-linejoin="round"/>
                                                                <path d="M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6" stroke="#1B1B1B" stroke-linecap="round" stroke-linejoin="round"/>
                                                            </svg>                                                                
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if item.properties.customSize != blank %}
                                            <div class="cart-item--product-options">
                                                <span class="cart-item--option-name">Size: </span>
                                                {{ item.properties.customSize }}
                                            </div>
                                        {% endif %}

                                        {% if item.properties.customWidth != blank %}
                                            <div class="cart-item--product-options">
                                                <span class="cart-item--option-name">Width: </span>
                                                {{ item.properties.customWidth }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="mini-list" class="hidden"></div>
            </div>

            <div id="minicart-actions" class="minicart-actions ">
                <div class="minicart-total ">
                    <span class="title-total ">{{ 'cart.order_total' | t }}</span>
                    <span class="cart-total-price ">{{ cart.total_price | money }}</span>
                </div>
                <div class="message_shipping">
                    <p class="">{{ 'cart.order_message_shipping' | t }}</p>
                </div>
                <div class="minicart-button">
                    <a href="/cart" class="btn btn-primary btn_view_cart">{{ 'cart.go_to_cart' | t }}</a>
                    <a href="/checkout" class="btn btn-primary btn_go_checkout">{{ 'cart.go_to_checkout' | t }}</a>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div id="bg-minicart-close" class="bg-minicart-close"></div>
