<div class="faq-page container">
  <h1>FAQs</h1>
  <div class="accordion">
  {% for block in section.blocks %}
  {% assign check = false %}
  {% if forloop.first %}
  {% assign check = true %}
  {% endif %}

  {% for i in (1..10) %}
  {% capture question_faqs %}question_faqs_{{i}}{% endcapture %}
  {% assign question = block.settings[question_faqs] %}
  {% capture answer_faqs %}answer_faqs_{{i}}{% endcapture %}
  {% assign answer = block.settings[answer_faqs] %}
  
  {% if question != blank and answer != blank%}
    <div class="accordion-item">
      <button id="accordion-button-{{i}}" aria-expanded="{% if question_faqs == 'question_faqs_1' and check == true %}true{% else %}false{% endif %}">
        <span class="number-icon">0{{i}}</span>
        <span class="accordion-title">
          {{ question }}
        </span>
        <span class="icon" aria-hidden="true"></span>
      </button>
      <div class="accordion-content">
        <p>
          {{ answer }}
        </p>
      </div>
    </div>
  {% endif %}
  
  {% endfor %}
  {% endfor %}
  </div>
</div>

<style>
.faq-page h1 {
    font-family: FontspringDemoTheseasons;
    padding: 24px 0 !important;
    margin: 0;
}
.faq-page button{
  background: none;
  color: #1b1b1b;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
  display: flex;
  padding: 40px 0;
  border-bottom: solid 1px #ccc;
}
.faq-page button:hover{
  background: none;
}
.faq-page .accordion-item:last-child button{
   border-bottom: none;
}
.accordion {
  padding: 0 0 80px;
  .accordion-item {    
    padding: 0;
    button[aria-expanded='true'] {
      border-bottom: none;
      padding: 40px 0 24px 32px;
    }
  }
  button {
    position: relative;
    display: flex;
    text-align: left;
    width: 100%;
    font-weight: 400;
    border: none;
    background: none;
    border-radius: 0;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 60px 32px;
    justify-content: flex-start;
    &:hover, &:focus {
      cursor: pointer;
      &::after {
        cursor: pointer;
      }
    }
    .number-icon{
      position: relative;
      top: 0;
      font-size: 32px;
      line-height: 40px;
      font-weight: 400;
      font-family: 'AvertaStdCY';
      background: transparent;
      display: inline;
      /* margin-right: 32px; */
      width: 60px;
    }
    .accordion-title {
      text-align: left;
      font-size: 24px;
      font-weight: 400;
      line-height: 30px;
      font-family: 'AvertaStdCY';
      color: #1b1b1b;
      width: 90%;
      text-transform: initial;
    }
    .icon {
      display: inline-block;
      position: absolute;
      /* top: 18px; */
      right: 32px;
      width: 22px;
      height: 22px;
      &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
      }
      &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
      }
    }
  }
  button[aria-expanded='true'] {
    border-bottom: none;
    .icon {
      &::after {
        width: 0;
      }
    }
    + .accordion-content {
      opacity: 1;
      max-height: 100%;
      transition: all 200ms linear;
      will-change: opacity, max-height;
      display: block;
      background: linear-gradient(0deg, var(--rose), transparent);
    }
  }
  .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    p {
      padding: 20px 96px 40px;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
      font-family: 'AvertaStdCY';
      text-align: left;
      margin: 0;
    }
  }
}
  
  
@media (max-width: 768px){
  .faq-page h1 {
      font-family: FontspringDemoTheseasons;
      padding: 24px 16px !important;
      margin: 0;
  }
  .accordion-item{
    display: block;
  }
  .accordion-item button{
    display: block;
    padding: 0;
    margin: 0;
    height: inherit;
  }
  .accordion-title {
    display: inline-block;
    font-size: 20px !important;
    line-height: 25px !important;
    font-weight: 400 !important;
    padding: 0 16px 24px;
    text-transform: initial;
  }
  span.number-icon {
    display: block !important;
    padding: 24px 16px;
  }
  button .icon{
    right: 10px !important;
  }
  button[aria-expanded='true'] {
      padding: 0 !important;
  }
  .faq-page.container{
    padding: 0;
  }
  .accordion {
    padding: 0 0 40px;
  }
   button[aria-expanded='true'] {
    + .accordion-content {
      p{
        padding: 0 16px 24px 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        font-family: 'AvertaStdCY';
      }
    }
  }
}
</style>
<script>
 const items = document.querySelectorAll(".accordion button");

function toggleAccordion() {
  const itemToggle = this.getAttribute('aria-expanded');
  
  for (i = 0; i < items.length; i++) {
    items[i].setAttribute('aria-expanded', 'false');
  }
  
  if (itemToggle == 'false') {
    this.setAttribute('aria-expanded', 'true');
  }
}

items.forEach(item => item.addEventListener('click', toggleAccordion));
</script>

{% schema %}
  {
    "name": "FAQS Page",
    "settings": [
     
  ],
    "blocks": [
      {
        "type" : "text",
        "name" : "Question",
        "settings":[
          {
            "type" : "textarea",
            "id" : "question_faqs_1",
            "label" : "Question 1"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_1",
            "label" : "Answer 1",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_2",
            "label" : "Question 2"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_2",
            "label" : "Answer 2",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_3",
            "label" : "Question 3"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_3",
            "label" : "Answer 3",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_4",
            "label" : "Question 4"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_4",
            "label" : "Answer 4",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_5",
            "label" : "Question 5"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_5",
            "label" : "Answer 5",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_6",
            "label" : "Question 6"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_6",
            "label" : "Answer 6",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_7",
            "label" : "Question 7"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_7",
            "label" : "Answer 7",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_8",
            "label" : "Question 8"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_8",
            "label" : "Answer 8",
            "info": "=========================="
          },
          {
            "type" : "textarea",
            "id" : "question_faqs_9",
            "label" : "Question 9"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_9",
            "label" : "Answer 9",
            "info": "=========================="
          },        
          {
            "type" : "textarea",
            "id" : "question_faqs_10",
            "label" : "Question 10"
          },
          {
            "type" : "textarea",
            "id" : "answer_faqs_10",
            "label" : "Answer 10"
          }
        ]
      }
    ],
   "presets": [
            {
                "name": "FAQS Page"
            }
        ]
  }
{% endschema %}