{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{% liquid
  assign image_bg_blog = 'image_bg_blogpost.png' | asset_url
  assign page_url = content_for_header | split:'"pageurl":"' | last | split:'"' | first | split: request.host | last | replace:'\/','/' | replace:'%20',' ' | replace:'\u0026','&'
%}

{%- for i in (1..1) -%}
  {%- unless page_url contains "?" -%}{% break %}{%- endunless -%}
  {%- assign query_string = page_url | split:'?' | last -%}
  {%- assign qry_parts= query_string | split:'&' -%}

  {%- for part in qry_parts -%}
    {%- assign key_and_value = part | split:'=' -%}
    {%- if key_and_value.size > 1 -%}
      {% if key_and_value[0] == 'param' %}
        {% assign param = key_and_value[1] %}
      {% endif %}
      {% if key_and_value[0] == 'tag' %}
        {% assign param = key_and_value[1] %}
      {% endif %}
    {%- endif -%}
  {%- endfor -%}
{%- endfor -%}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting" style="background-image:url('{{ image_bg_blog }}')"​​​​​​>
  {% assign blog_name = article.handle | split: '/' | first %}
  {% assign blog = blogs[blog_name] %}
  {% assign blogTags = blog.metafields.custom.blog_tags.value %}
  {% if blogTags.size > 0 %}
    <div class="blog_tags">
      {% for item in blogTags %}
        {% assign tagHandle = item | handleize %}
        <a href="/blogs/{{ blog_name }}?tag={{ tagHandle }}" class="{% if tagHandle == param %}active{% endif %}">{{ item }}</a>
      {% endfor %}       
    </div>
  {% endif %}

  {% if section.settings.show_search_form %}
    <div class="blog_search">
      {%- if settings.predictive_search_enabled -%}
        <predictive-search data-loading-text="{{ 'accessibility.loading' | t }}">
      {%- endif -%}
        <main-search>
          <form action="{{ routes.search_url }}" method="get" role="search" class="search">
            <div class="blog_search-field field">
              <input
                class="search__input field__input"
                id="Search-In-Template"
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="Search"
                {%- if settings.predictive_search_enabled -%}
                  role="combobox"
                  aria-expanded="false"
                  aria-owns="predictive-search-results"
                  aria-controls="predictive-search-results"
                  aria-haspopup="listbox"
                  aria-autocomplete="list"
                  autocorrect="off"
                  autocomplete="off"
                  autocapitalize="off"
                  spellcheck="false"
                {%- endif -%}
              >
              <label class="field__label" for="Search-In-Template">{{ 'general.search.search' | t }}</label>
              <input name="options[prefix]" type="hidden" value="last">
              <input type="hidden" name="type" value="article">
              <input type="hidden" name="blog" value="Blog">

              {%- if settings.predictive_search_enabled -%}
                <div class="predictive-search predictive-search--search-template" tabindex="-1" data-predictive-search>
                  <div class="predictive-search__loading-state">
                    <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                      <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                  </div>
                </div>

                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
              {%- endif -%}

              <button type="reset" class="reset__button field__button{% if search.terms == blank %} hidden{% endif %}" aria-label="{{ 'general.search.reset' | t }}">
                <svg class="icon icon-close" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-reset">
                </svg>
              </button>
              <button type="submit" class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                <svg class="icon icon-search" aria-hidden="true" focusable="false">
                  <use xlink:href="#icon-search">
                </svg>
              </button>
            </div>
          </form>
        </main-search>
      {%- if settings.predictive_search_enabled -%}
        </predictive-search>
      {%- endif -%}
    </div>
  {% endif %}

  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when '@app' -%}
        <div class="page-width page-width--narrow">
          {% render block %}
        </div>
      {%- when 'featured_image' -%}
        {%- if article.image -%}
          <div
            class="article-template__hero-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            {{ block.shopify_attributes }}
          >
            <div
              class="article-template__hero-{{ block.settings.image_height }} media"
              itemprop="image"
              {% if block.settings.image_height == 'adapt' and article.image %}
                style="padding-bottom: {{ 1 | divided_by: article.image.aspect_ratio | times: 100 }}%;"
              {% endif %}
            >
              <img
                srcset="
                  {% if article.image.width >= 350 %}{{ article.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ article.image | image_url }} {{ article.image.width }}w
                "
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
                src="{{ article.image | image_url: width: 1100 }}"
                loading="eager"
                fetchpriority="high"
                width="{{ article.image.width }}"
                height="{{ article.image.height }}"
                alt="{{ article.image.alt | escape }}"
              >
            </div>
          </div>
        {%- endif -%}

      {%- when 'title' -%}
        <header
          class="page-width page-width--narrow{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
          {{ block.shopify_attributes }}
        >
          <h1
            class="article-template__title flex"
            itemprop="headline"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
              <path d="M11 0L13.2918 8.03049L21.3923 6L15.5836 12L21.3923 18L13.2918 15.9695L11 24L8.7082 15.9695L0.607696 18L6.41641 12L0.607696 6L8.7082 8.03049L11 0Z" fill="#E6AC44"/>
            </svg>
            {{ article.title | escape }}

            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" viewBox="0 0 22 24" fill="none">
              <path d="M11 0L13.2918 8.03049L21.3923 6L15.5836 12L21.3923 18L13.2918 15.9695L11 24L8.7082 15.9695L0.607696 18L6.41641 12L0.607696 6L8.7082 8.03049L11 0Z" fill="#E6AC44"/>
            </svg>
          </h1>

          {%- if block.settings.blog_show_date -%}
            <div class="blog_post__date">
              <span class="caption-with-letter-spacing" itemprop="dateCreated pubdate datePublished">
                {{- article.published_at | time_tag: format: 'date' -}}
              </span>
  
              {% if article.metafields.custom.read_time != blank %}
                <span>{{ article.metafields.custom.read_time }}</span>
              {% endif %}
            </div>
          {%- endif -%}
          {%- if block.settings.blog_show_author -%}
            <span class="caption-with-letter-spacing" itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ article.author }}</span>
            </span>
          {%- endif -%}
        </header>

      {%- when 'content' -%}
        <div
          class="article-template__content page-width page-width--narrow rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          itemprop="articleBody"
          {{ block.shopify_attributes }}
        >
          {{ article.content }}
        </div>

      {%- when 'share' -%}
        {%- liquid
          if template contains 'product'
            assign share_permalink = product.url
            assign share_image = product.featured_image
          elsif template contains 'collection'
            assign share_permalink = collection.url
          elsif template == 'cart'
            assign share_permalink = cart.url
          elsif template contains 'page'
            assign share_permalink = page.url
          elsif template contains 'blog'
            assign share_permalink = blog.url
          elsif template contains 'article'
            assign share_permalink = article.url
          endif
        -%}

        <div
          class="container article-template__social-sharing {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
          {{ 'blogs.article.share' | t }}
          <div class="option option_facebook">
            <a class="no-underline" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}" target="_blank">
              {% render 'icon-facebook-sharing' %}
              Share
            </a>
          </div>

          <div class="option option_twitter">
            <a class="no-underline"
              href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}"
              target="_blank">
              {% render 'icon-twitter-sharing' %}
              Tweet
            </a>
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}

  <div class="container">
    <div class="section_post_recent">
      <div class="recent_content blog-articles"></div>
    </div>

    <div class="flex article_next_prev_article">
      {% if blog.previous_article %}
        <a href="{{ blog.previous_article }}" class="link btn btn-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="16" viewBox="0 0 27 16" fill="none">
            <path d="M26.1953 8.06055H1.19531" stroke="#FFD9CD" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M8 15L1 8L8 1" stroke="#FFD9CD" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          {{ 'blogs.article.previous_article' | t }}
        </a>
      {% else %}
        <a href="{{ blog.url }}" class="link btn btn-primary">{{ 'blogs.article.back_to_articles' | t }}</a>
      {% endif %}
      {% if blog.next_article %}
        <a href="{{ blog.next_article }}" class="link btn btn-primary">
          {{ 'blogs.article.next_article' | t }}
          <svg xmlns="http://www.w3.org/2000/svg" width="27" height="16" viewBox="0 0 27 16" fill="none">
            <path d="M0.804688 8.06055H25.8047" stroke="#FFD9CD" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M19 15L26 8L19 1" stroke="#FFD9CD" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </a>
      {% else %}
        <a href="{{ blog.url }}" class="link btn btn-primary">{{ 'blogs.article.go_to_all_articles' | t }}</a>
      {% endif %}
    </div>
  </div>
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

<script>
  function setLocalStorageRecentPost() {
    const postDataPdp = {{ article | json }}
    const postData = {
      ...postDataPdp,
      'blogHandle': "{{ blog.handle }}"
    }
    const postsArr = []
    let jsonResp,
        jsonRespArr,
        jsonRespString

    postsArr.push(postData)

    const recentPost = 'recent_post_hunny_bee'
    const currentPostTitle = postData.title
    const postDataString = JSON.stringify(postsArr)
    const localData = localStorage.getItem(recentPost)
    if(localData === '' || localData === null) {
      localStorage.setItem(recentPost, postDataString)
    }

    const oldPostData = localStorage.getItem(recentPost)
    jsonResp = JSON.parse(oldPostData)
    jsonResp = jsonResp.filter(post => {
      return post.handle !== postData.handle
    })

    jsonRespArr = jsonResp.concat(postsArr)
    jsonRespArr = JSON.stringify(jsonRespArr)
    localStorage.setItem(recentPost, jsonRespArr)
  }

  setLocalStorageRecentPost()

  document.addEventListener("DOMContentLoaded", (event) => {
    function setRecenPost() {
      const recentPosts = JSON.parse(localStorage.getItem('recent_post_hunny_bee')).reverse()
      const elmBoxContent = document.querySelector('.recent_content')
      const blogHandle = "{{ blog.handle }}"

      if (recentPosts.length > 0) {
        recentPosts.forEach((item, index) => {
          if(index > 2) return
          
          const date = new Date(item.published_at);
          const replaceHandle = '/blogs/' + item.blogHandle + '/' + item.handle
          const blogPostTimeRead = "{{ article.metafields.custom.read_time }}"

          const postItem =`
          <div class="blog-articles__article article scroll-trigger animate--slide-in" data-cascade="" style="--animation-order: 1;">
            <div class="article-card-wrapper card-wrapper">
                <div class="card article-card card--standard article-card__image--medium card--media" style="--ratio-percent: 96.4241676942047%;">
                  <div class="card__inner  color-background-2 gradient ratio" style="--ratio-percent: 96.4241676942047%;">
                    <a href="${replaceHandle}">
                        <div class="article-card__image-wrapper card__media">
                          <div class="article-card__image media media--hover-effect">
                            <img src="${item?.image?.src}" alt="${item?.image?.alt}" class="motion-reduce" loading="lazy" width="${item?.image?.width}" height="${item?.image?.height}">
                          </div>
                        </div>
                      </a></div>
                  <div class="card__content">
                    <div class="card__information">
                      <div class="card__information__date">
                        <p><time datetime="${moment(date).format('MMMM, D Y')}">${moment(date).format('MMMM, D Y')}</time></p>
                        <p>${blogPostTimeRead}</p>
                      </div>
                      
                      <h3 class="card__heading h2">
                        <a href="${replaceHandle}" class="full-unstyled-link">
                          ${item?.title}
                        </a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div></div>
          `

          elmBoxContent.innerHTML += postItem
        });
      } else {
        document.querySelector('.section_post_recent').classList.add('hidden')
      }
    }

    setRecenPost()
  })
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_search_form",
      "default": true,
      "label": "t:sections.main-blog.settings.show_search_form.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "featured_image",
      "name": "t:sections.main-article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_height",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__1.label"
            },
            {
              "value": "small",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__2.label"
            },
            {
              "value": "medium",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__3.label"
            },
            {
              "value": "large",
              "label": "t:sections.main-article.blocks.featured_image.settings.image_height.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.main-article.blocks.featured_image.settings.image_height.label",
          "info": "t:sections.main-article.blocks.featured_image.settings.image_height.info"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "blog_show_date",
          "default": true,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_date.label"
        },
        {
          "type": "checkbox",
          "id": "blog_show_author",
          "default": false,
          "label": "t:sections.main-article.blocks.title.settings.blog_show_author.label"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main-article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-article.blocks.share.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-article.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-article.blocks.share.settings.title_info.content"
        }
      ]
    }
  ]
}
{% endschema %}
